# Eureka Configuration
eureka.client.serviceUrl.defaultZone: http://discovery-service:8761/eureka
# eureka.instance.prefer-ip-address: true
# eureka.instance.hostname: localhost


# actuator config
management:
  endpoints:
    web:
      exposure:
        include: "*"
# zipkin config
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans


logging:
  config: 
    classpath: logback-spring.xml
